:root {
  --color-white: #fff;
  --color-off-white: #f1f1f1c7;
  --color-dark: #171522;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
}

body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background-color: var(--color-dark);
  color: var(--color-white);
}