<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social App</title>
  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <main class="container">
    <nav class="nav">
      <div class="nav__item">
        <h1>
          <a href="/">McKinsey's Social Application</a>
        </h1>
      </div>
      <div class="nav__item">
      {{#if loggedInUser}}
        <span>Welcome back {{ loggedInUser.username}}!</span>
        <a href="/profile/{{loggedInUser.uuid}}">Profile</a>
        <a href="/logout">Logout</a>
      {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      {{/if}}
      </div>
    </nav>
    {{> @partial-block }}
  </main>
</body>
</html>